converters/IGTD/datasets/images/Train/data/
converters/IGTD/datasets/images/Test/data/
converters/Deepinsight/pyDeepinsight/
converters/IGTD/Scripts/
converters/Deepinsight/Keras_Tuner_logs/
venv310/
venv376/
venv/